@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --cyan0: #00DFFF;
    --cyan1: #00DFFF;
    --cyan-fuchsia: #A0A6BE;
    --fuchsia1: #C481A7;
    --fuchsia0: #8000FF;
    --fuchsia2: #FF00FF;
    --text-color: #3A3335;
    --dark-grey: #6E7285;
    --dark-grey2: #575a64;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    box-sizing: border-box;
    overflow-x: hidden;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    min-width: 320px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* Header + navigation */

.nav-container {
    background:var(--dark-grey);
    display: flex;
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: height 0.2s;
}

header a {
    color: white;
}

.navbar-toggler {
    display: none;
}

.logo {
    margin-right: 1em;
}

.logo > img {
    width: 40px;
    height: 40px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
}

.main-nav > ul > li {
    display: inline;
    margin-left: .5em;
    flex: 1 0 auto;
    padding: 0 8px;
}


.button-small {
    padding: 12px 24px;
    background: var(--fuchsia0);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
}

.button-small:hover {
    background: var(--fuchsia2);
}

/* Hero */

.content-container{
    position: absolute;
    color: white;
    width: 400px;
    margin-top: 5%;
}

.content-container > h1 {
    font-size: 4.2vw;
    line-height: 1.25;
    margin-bottom: 0;
}

.content-container > p {
    font-size: 1.3rem;
    margin-bottom: 2em;
    color: var(--fuchsia2);
    font-weight: 500;
}

.bg-container{
    display: grid;
    grid-template-columns: 66% auto;
    /* height: 90vh; */
}
.left {
    background-color: var(--cyan1);
}

.right {
    margin-left: -45%;
    margin-top: 5em;
    width: 90%;
    height: auto;
    padding-bottom: 6em;
}

/* Featured */

.featured-left {
    position: relative;
}
.bg-img{
    position: absolute;
    height: 200px;
    width: 200px;
    top: -5em;
    left: -8em;
    z-index: -1;
}

.featured-container {
    display: grid;
    grid-template-columns: 40% auto;
    padding-top: 7em;
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--fuchsia0);
}

.featured-title {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: -0.5em;
}

.featured-description {
    line-height: 1.8;
    margin-bottom: 4em;
}

.featured-right {
    position: relative;
}

.featured-img {
    position: absolute;
    top: 1em;
    left: 6em;
    width: 650px;
    border-radius: 1em;
}

/* Skills */

.skills {
    background: var(--fuchsia0);
}

.skills-container {
    padding-top: 8em;
}

.skills-container ul{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2em;
}

.icon-container {
    width: 105px;
    height: 105px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.skills-container ul li {
    background: white;
    text-align: center;
    padding: 4em 3em 3em;
    border-radius: 1em;
    margin-bottom: -1em;
}

.skills-title {
    text-transform: uppercase;
    font-weight: 500;
}

.skills-description {
    line-height: 1.5;
}

/* Contact container */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
}

.contact-icon {
    margin-right: 1em;
}

.contact {
    display: inline-block;
}
.contact-slogan > span{
    padding: 6px;
}

.contact-slogan > span > a {
    color: var(--fuchsia2);
}

.contact-slogan > span > a:hover {
    color: var(--fuchsia0);
}

/* Footer */

.footer{
    background: var(--dark-grey);
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}

.social-icons-container img {
    width: 30px;
    height: 30px;
    padding-left: .5em;
}

hr {
    color: white;
}

.copyright {
    color:white;  
    font-size: .8rem;  
    padding-bottom: 1em;
    margin-bottom: -1em;
}

/* Responsive */

@media only screen and (max-width: 1215px) {
    .bg-img {
        left: auto;
    }
}

@media only screen and (max-width: 992px) {
    header, .content-container, .featured-container, .skills-container, .footer-container {
        padding-left: 1em;
        padding-right: 1em;
    }

    .scroll {
        width: 45px;
        height: 45px;
    }

    .featured-container {
        grid-template-columns: 1fr;
        padding-top: 3em;
        justify-content: center;
        text-align: center;
    }

    .bg-img {
        display: none;
    }
    
    .featured-title {
        display: block;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-color);
        margin-top: -0.5em;
        margin-bottom: 1em;
    }

    .featured-description {
        margin-bottom: 2em;
    }

    .featured-img {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 2em;
        text-align: center;
        width: 80%;
        height: auto;
        /* width: 100%;
        height: 100%; */
    }


    .content-container > h1 {
        font-size: 4.7vw;
        line-height: 1.25;
    }

    .skills-container {
        padding-bottom: 1em;
    }

    .skills-container ul {
        display: block;
    }

    .skills-container ul li {
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 768px) {

    .navbar-toggler {
        display: unset;
        padding-top: .7em ;
    }

    #top-line, #middle-line, #bottom-line {
        fill: white;
    }
    
    .navbar-toggler {
        background: none;
        border: none;
        cursor: pointer;
    }

    .navigation {
        display: none;
    }

    .hero {
        background: var(--cyan1);
        display: flex;
        text-align: center;
    }

    .content-container {
        position: relative;
        background: var(--cyan1);
        width: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .bg-container {
        display: none;
    }

    .content-container > h1 {
        font-size: 36px;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .contact-container{
        padding: 2em 0;
    }
    .contact-icon {
        width: 35px;
        height: auto;
    }

    /* collapsible menu */

    .collapsed {
        height: calc(100vh - 148px);
        min-height: 250px;
        display: flex;
        position: relative;
        transition: background .2s ease;
    }

    .collapse {
        display: block;
        position: absolute;
        top: 80px;
    }

    .navigation.collapse > .main-nav > ul > li {
        display: block;
        padding: 18px 0;
    }

    .navigation.collapse > .main-nav {
        margin-bottom: 1em;
    }
    .menu-collapsed{
        display: none;
    }
}

/* Animation */

@keyframes scroll-loop {
    from {
        opacity: 0;
        transform: translateY(-8%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#arrow1, #arrow2 {
    animation: scroll-loop 1.4s 5;
}

